<link rel="stylesheet" href="/home.component.css" />

<!--<app-bottom></app-bottom>-->
<div class="background">
  <main class="container p-2 slide">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="assets/img/slide5.png"
            class="d-block rounded mx-auto"
            alt="..."
          />
          <div
            class="carousel-caption d-none d-md-block alpha mx-auto p-1 w-50"
          >
        
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="assets/img/slide_1.jpg"
            class="d-block rounded mx-auto"
            alt="..."
          />
          <div
            class="carousel-caption d-none d-md-block bg-body-secondary alpha mx-auto p-1 w-50"
          >
            <h5>¡DUNGEON COMICS!</h5>
            <p>Crea tu propio catálogo de comics</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/slide4.jpg"
            class="d-block rounded mx-auto"
            alt="..."
          />
          <div
            class="carousel-caption d-none d-md-block bg-body-secondary alpha mx-auto p-1 w-50"
          >
            <h5>¡Organiza tu catálogo digital!</h5>
            <p>Para que no olvides el tesoro de colección que tienes.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            src="assets/img/slide3.jpg"
            class="d-block rounded mx-auto"
            alt="..."
          />
          <div
            class="carousel-caption d-none d-md-block bg-body-secondary alpha mx-auto p-1 w-50"
          >
            <h5>¡Próximamente!</h5>
            <p>Comparte tu catálogo con otros usuarios registrados.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </main>

  <div class="gap-4 d-flex my-2 justify-content-center font flex-wrap">
    <div class="card my-5 shadow-lg" style="width: 14rem">
      <img src="../../../assets/img/sSecure.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">¡Tu colección está segura!</h5>
        <p class="card-text">
          Agrega, consulta, modifica y elimina comics de tu colección para que lleves un control de todo tu catálogo físico y digital.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card my-5 shadow" style="width: 14rem">
      <img src="../../../assets/img/sComic.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">¿No tienes imágenes de tu Comic?</h5>
        <p class="card-text">
          No te preocupes, puedes usar una URL donde se encuentre la portada de tu comic y esta será agregada.          
        </p>
        <p>Te recomendamos vayas a nuestra página aliada dreamlandcomics.</p>
        <a href="https://www.dreamlandcomics.com/html/" target="_blank" class="btn btn-primary">Ir a dreamlandcomics</a>
      </div>
    </div>
  </div>
</div>
