
<div class="container d-flex justify-content-center align-top">
  <div class="row">
    <div
      class="col-sm-4 mr-2 ml-2 d-flex justify-content-center p-3"
      *ngFor="let comic of comics"
    >
    <!-- Se define en el padre el evento que permite traer información del hijo -->
    <app-card-comic [comicData]="comic" (onDelete)="deleteComic($event)" (onEdit)="editModal($event)"></app-card-comic>

    </div>
  </div>
</div>

<!-- Modal Edit-->
<div
  
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar información</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <app-add-comic ></app-add-comic>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="updateComic()"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de eliminar el comic? {{ comicSelected.name }}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="removeComic(comicSelected._id)"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
